server {
    listen 80;

    root {{ root_dir }};
    index index.html index.htm;

    server_name {{ server_domain }};

    location / {
        default_type "text/html";
        try_files $uri.html $uri $uri/ =404;
    }
}