filter {
    if "django" in [tags] and "oc-mentor-assistant" in [tags] {
        grok {
            match => { "message" => "%{TIMESTAMP_ISO8601:timestamp}] %{LOGLEVEL:loglevel}\|%{GREEDYDATA:module}\|%{GREEDYDATA:content}" }
        }
        date {
            match => [ "timestamp", "YYYY-MM-dd HH:mm:ss"]
            target => "@timestamp"
        }
        json {
            source => "content"
        }
    }
}